* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF
}

h1 {
  margin: 0;
  font-family: 'Source Serif Pro', 'Semi-Bold';  
  font-weight: bold;
  font-size: 2rem;
}

p {
  margin: 0 0 0.5rem 0;
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-size: 1.2rem;
}

header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  background-color:#FFFFFF;
  color:#000000;
}

#app {
  display: flex;
}

#map {
  flex: 2;
  height: calc(100vh - 3rem);
  overflow: hidden; 
}

@media screen and (max-width: 600px) {
  #app {
    flex-direction: column
  }
  #map {
    margin: 0 1rem;
    height: 75vh;
  }
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.panel {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0;
}

select {
  width: calc(100% - 25px);
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

.add-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.add-btn:hover {
  background: #4283aa;
}

.add-btn:active {
  background: #286090;
}

.remove-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #d9534f;
  border: 0;
  color: #fff;
}

.remove-btn:hover {
  background: #c9302c;
}

.remove-btn:active {
  background: #c9302c;
}

.list-group {
  padding-left: 0;
}

.itinerary-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 8px 0;
  font-size: 13px;
  color: #333;
}

div.tooltip {
  position:absolute;
  text-align: center;
  width: 200px;
  height:auto;
  font-family: 'Source Sans Pro';
  /* background-color: #EDE3D1; */
  border-radius: 10px;
  /* color: #787777; */
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 6px 12px;
  z-index:3;
  pointer-events: none;	
}

/* div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 200px;					
  height: 50px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: rgb(216, 221, 226);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
} */

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

/*HTML Vertical Lengend*/

h3 {
  margin-top: 15px;
}
.country-name {
  margin: 0 !important;
}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

.legend {
  margin-right:20px;
}

.manhattan { background: #1F77B4;}
.queens { background: #FF7F0E;}
.brooklyn { background: #2CA02C;}
.staten-island {background: rgb(148, 103, 189);}  
.bronx {background: rgb(214, 39, 40);} 
}
